*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole di debug */
[class*="col-"] {
   height: 200px;
   background-color: pink;
   border: solid 1px black;
   position: relative;
   text-align: center;
}

.nested{
  background-color: #d9c1ff;
}


/* regole per centratura testo */
[class*="col-"] > p{
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
